body {
  text-align: center;
  background-color: #79bbc7;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23bedae2' fill-opacity='0.97' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; 
  font-family: "Dosis", sans-serif;
  }
#tags {
  font-size: 18px;
  font-weight: bolder;
}
#name {
  font-size: 18px;
  font-weight: bolder;

}

Switch {
  size: 55px;
}
#createPost {
  color: white;
  background-color: #aaa
}
#deleteButton {
  margin-top: 8px;
}
#editButton {
  color: white;
  background-color: #4b4949;
  margin-top: 8px;
}
span {
  position: fixed; 
  bottom: 5pt; 
  left: 5pt;
}
#projectTeam {
  color: rgb(254, 254, 254);
}
#toTop {
  font-size: 2em;
  color: black;
}
#commentButton {
  color: white;
  background-color: #4b4949;
  margin-top: 8px;
}
#buttonEdit{
  color: white;
background-color: #4b4949;
}
#editSubmit {
  color: white;
  background-color: #4b4949;
  margin-bottom: 8px;
}
.modal-backdrop.in { z-index: auto;}
#showComments {

  background: rgba(247,188,119,1);
  border-radius: 35px;
}
#title {
  font-family: snes;
  font-size: 75px;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#createDiv {
  text-align: center;
  background: rgba(191,222,230,1);
  width: 350px;
  border-radius: 35px;
  margin-bottom: 15px;
  padding-top:10px;
  box-shadow: 3px 3px rgba(173,109,80);
  border: 1px solid  rgba(214,121,52);
 
}
#post-div {
  text-align: center;
  width: 700px;
  margin-bottom: 15px;
  margin-right: 200px;
  /* opacity: .85; */
  border-radius: 35px;
  box-shadow: 5px 5px 5px 5px rgb(28, 29, 48);
}
#logo {
  /* width: 100%; */
  max-width: 350px;
  margin-right: 200px;
}
#sideLogo {
  max-width: 200px;;
}
/* img {
  width: 100%;
  max-width: 450px;
} */

ul {
  padding: 0;
}
/* ======================= SIDE NAV STYLING ============================= */
.sidenav {
  display: flex;
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(24,105,109,1);
  overflow-x: hidden;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
}
#search {
  align-self: flex-start;
  padding-left: 10px;
}
#projectTeam {
  /* flex-direction: column; */
  align-self: flex-end;
  margin-top: 40px;
  width: 100%;
}
#info {
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.sidenav a {
  padding: 5px 5px 5px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
li {
  list-style: none;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav Button{
  margin-top: 4px;
  color: #ad6d50;
  border:1px solid #ad6d50;
  background-color: rgb(246,209,156);
}

/* ======================= CHAT STYLING ============================= */
.App {
  width: 220px;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 190px;
  height: 25px;
  margin: 10px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: .8em;;
}

.joinChatContainer button {
  width: 200px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: rgba(255, 255, 255, 0.71);
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 215px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: .6em;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: .8em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 15px;
  color: rgb(84, 212, 106);
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}
