body {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#post-div {
  text-align: center;
  width: 650px;
  border: 1px solid black;
  margin-bottom: 15px;
  opacity: .85;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  background: rgb(83, 187, 201);
}
/* I added this in case there is an IMG upload in the future */
img {
  width: 100%;
  max-width: 280px;
}